@model IEnumerable<MorMorsBageruMVC.Models.Leverantör>

@{
    ViewData["Title"] = "Leverantörer";
}

<h1>Leverantörer</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Skapa ny</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Adress</th>
            <th>Kontaktperson</th>
            <th>Telefon</th>
            <th>E-post</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Namn</td>
                <td>@item.Adress</td>
                <td>@item.Kontaktperson</td>
                <td>@item.Telefon</td>
                <td>@item.Epost</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.LeverantörId">Detaljer</a> |
                    <a asp-action="Edit" asp-route-id="@item.LeverantörId">Redigera</a> |
                    <a asp-action="Delete" asp-route-id="@item.LeverantörId">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>