@model MorMorsBageruMVC.Models.InköpsRad

@{
    ViewData["Title"] = "InköpsRad Detaljer";
}

<h1>Inköps-rad Detaljer</h1>

<table class="table">
    <tr>
        <th>Inköp ID</th>
        <td>@Model.InköpId</td>
    </tr>
    <tr>
        <th>Datum</th>
        <td>@Model.Inköp?.Datum.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Leverantör</th>
        <td>@Model.Inköp?.Leverantör?.Namn</td>
    </tr>
    <tr>
        <th>Råvara</th>
        <td>@Model.Råvara?.Namn</td>
    </tr>
    <tr>
        <th>Mängd (kg)</th>
        <td>@Model.MängdKg</td>
    </tr>
    <tr>
        <th>Pris per kg</th>
        <td>@Model.PrisPerKg</td>
    </tr>
</table>

<a asp-action="Edit" asp-route-inköpId="@Model.InköpId" asp-route-råvaraId="@Model.RåvaraId"
    class="btn btn-primary">Redigera</a>
<a asp-action="Index" class="btn btn-secondary">Tillbaka</a>