@model IEnumerable<MorMorsBageruMVC.Models.Inköp>

@{
    ViewData["Title"] = "Inköp";
}

<h1>Inköp</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Skapa nytt inköp</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Leverantör</th>
            <th>Antal rader</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Datum.ToShortDateString()</td>
                <td>@i.Leverantör?.Namn</td>
                <td>@i.Rader.Count</td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.InköpId">Detaljer</a> |
                    <a asp-action="Edit" asp-route-id="@i.InköpId">Redigera</a> |
                    <a asp-action="Delete" asp-route-id="@i.InköpId">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>